{% extends 'base.html' %}

{% block titlebar %}
<h2>Reset Password</h2>
{% endblock %}

{% block content %}

    <div class="lockdown">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Reset My Password</button>
            <p>Please <a href="mailto:jiman@cto.nyc.gov?subject=NYCPPE%20access">contact us</a> if you have any trouble resetting your password.</p>
        </form>

    </div>
{% endblock %}