[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
openpyxl = "*"
django-extensions = "*"
ipdb = "*"
django-tables2 = "*"
django-lockdown = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
ortools = "*"
black = "*"
sentry-sdk = "*"
django-allauth = "*"
freezegun = "*"
fuzzywuzzy = "*"
werkzeug = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
