body {
  font-family: sans-serif;
  margin: 0;
  padding: 40px 0 0 0;
}

section.container {
    width: 80%;
    margin: 0 auto;
}

.disclaimer {
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;

    background: #00B2FF;
    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #FFFFFF;
}

.brand-bar {
    height: 80px;
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 49px;

    color: #666666;
}

.title-bar {
    height: 70px;
    background: #EEEEEE;

    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    color: #666666;
}

section.content {
    padding: 40px 0;
}

table {
    border-spacing: 0 1em;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}

tr.even {
    background: #fafafa;
}

th, td {
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

th {
    text-transform: uppercase;
}
th.orderable a {
    color: #888888;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

td {
    white-space: pre;
}
td:first-child {
    padding-left: 10px;
    text-align: left;
}
td:last-child {
    padding-right: 10px;
}

.value {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.value-divider {
    color: #ccc;
}

.balance-col {
    font-weight: bold;
}

.unit {
    color: #888888;
    line-height: 21px;
    font-weight: 300;
}

.balance-absolute {
    width: 60px;
}

.yellow {
    color: #CE9E23;
}

.red {
    color: #CE4C23;
}