body {
  font-family: sans-serif;
  margin: 0;
  padding: 40px 0 0 0;
}

a, a:visited {
    color: #0a5796;
    text-decoration: none;
}

a:hover {
    color: #0a5796cc;
    text-decoration: underline;
}

section.container {
    width: 90%;
    margin: 0 auto;
}

.disclaimer {
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;

    background: #0a5796;
    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #FFFFFF;
}

.standard-button {
    cursor: pointer;

}

.brand-bar {
    height: 80px;
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 49px;

    justify-content: space-between;

    color: #666666;
}

.upload-btn {
    border: 1px solid #ddd;
    border-radius: 20px;
    background: #fff;
    font-size: 16px;
    text-decoration: none;
    color: rgb(102, 102, 102);
    padding: 20px;
}

.title-bar {
    height: 70px;
    background: #EEEEEE;
}

.title-bar .container {
    display: flex;
    align-items: center;
    font-style: normal;
    justify-content: space-between;
    height: 100%;
}

.title-bar h2 {
    font-weight: 300;
    font-size: 28px;
    /* identical to box height */
    color: #666666;
    padding-right: 20px;
}

section.content {
    padding: 40px 0;
}

.value {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.value-divider {
    color: #ccc;
}

.balance-col {
    font-weight: bold;
}

.unit {
    color: #888888;
    line-height: 21px;
    font-weight: 300;
}

.balance-absolute {
    width: 60px;
}

.yellow {
    color: #CE9E23;
}

.red {
    color: #CE4C23;
}

.balance-bar-red {
    background: #CE4C23;
}

.balance-bar-yellow {
    background: #CE9E23;
}

.balance-bar-gray {
    background: #E5E5E5;
}

.divider {
    background: #c5b9b94a;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 1px;
}

/* Lockdown form styles */

.lockdown, .upload { 
    display: flex;
    justify-content: center;
}

.upload .error {
    text-align: center;
    display: block   
}

.lockdown form, .upload form {
    display: inline-block;
    text-align: center;
}

.lockdown p {
    max-width: 300px;
    font-weight: 300;
}

.lockdown label, .upload label {
    display: block;
    color: #aaa;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
}

.lockdown input, .upload input {
    display: block;
    min-width: 250px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.lockdown button, .upload button {
    display: inline-block;
    padding: 12px 50px;
    background: #0a5796;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    transition: all 0.2s cubic-bezier(0.2, 0.91, 0.85, 0.96) 0s;
}

button {
    cursor: pointer;
}

.upload button.cancel {
    background: #fff;
    color: #0a5796;
}

.lockdown button:hover, .upload button:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 5px 10px;
    outline: none;
}

.upload dl {
    list-style-type: none;
}

.upload dl:after {
    clear: left;
    content: "";
    display: block;
}

.upload dl li {
    float: left;
    margin-right: 20px;
}

/* Rollup toggle */

.toggle {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.toggle label {
    display: inline-block;
    color: #aaa;
    text-transform: uppercase;
    padding-right: 10px;
    white-space: nowrap;
}
.toggle ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.toggle li {
    font-weight: 300;
    margin-right: 10px;
}

.toggle li.active a {
    background: #666;
}
.toggle a {
    color: #666;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ddd;
    white-space: nowrap;
}
.toggle li.active a {
    color: #fff;
    font-weight: normal;
}

/* Footer styles */

section.footer {
    background: #eee;
    padding: 40px 0;
}

.footer dt, .footer dd {
    font-size: 14px;
    padding-bottom: 5px;
}

.footer dt {
    float: left;
    width: 150px;
    color: #888;
    text-transform: uppercase;
    font-weight: normal;
}

/* Tooltips */

.tooltip {
    position: relative;
  }

.tooltip::after {
    position: absolute;
    z-index: 1000000;
    display: none;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 12px;
    font-weight: 300;
    padding: 4px 8px;
    left: 0%;
    bottom: calc(100% - 5px);
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: #0008;
    border-radius: 3px;
    opacity: 0;
}

th:last-child.tooltip::after {
    left: auto; right: 0;
}

@keyframes tooltip-appear {
    from {
      opacity: 0;
    } 
    to {
      opacity: 1;
    }
  }

.tooltip:hover::before, .tooltip:hover::after {
    display: inline-block;
    text-decoration: none;
    animation-name: tooltip-appear;
    animation-duration: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}


/* general table styles */

table {
    border-spacing: 0 1em;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}

th {
    text-transform: uppercase;
}

th.orderable a {
    color: #888888;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
th.orderable.desc::before, th.orderable.asc::before {
    font-size: 12px;
    color: #aaa;
    display: block;
    float: left;
    margin-right: 5px;
    padding-top: 1px;
}
th.orderable.desc::before { content:"▲"; }
th.orderable.asc::before { content:"▼"; }

td:first-child {
    padding-left: 10px;
    text-align: left;
}
td:last-child {
    padding-right: 10px;
}
/* dashboard table styles */

body.drilldown .dashboard-table {
    padding-bottom: 40px;
}

.dashboard-table tr.even {
    background: #fafafa;
}

.dashboard-table th, .dashboard-table td {
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: left;
}

.dashboard-table td.disabled .value, .dashboard-table td.disabled .unit, .dashboard-table th.disabled a, .dashboard-table td.disabled {
    color: #ccc;
}

.dashboard-table td {
    white-space: pre;
}

.dashboard-table th svg {
    height: 14px;
    width: 14px;
    display: inline-block;
    margin-left: 5px;
}

.dashboard-table th.warning svg, svg.warning {
    fill: #CE9E23;
}

.dashboard-table th.error svg, svg.error {
    fill: #CE4C23;
}

.dashboard-table tfoot {
    border-top: 1px solid #ddd;
}
.dashboard-table tfoot td, .dashboard-table tfoot .value {
    color: #888;
    text-transform: uppercase;
    font-weight: 300;
}

.icon-clock {
    display: inline;
}

/* Drilldown styles */

.incoming-supply h2 {
    font-weight: 300;
}

.drilldown-deliveries th, .drilldown-deliveries td {
    white-space: normal;
    padding: 0 20px 5px 0;
    vertical-align: top;
}

.drilldown-deliveries th {
    color: #888;
    text-transform: uppercase;
    font-weight: inherit;
    white-space: nowrap;
    margin-bottom: 20px;
    text-align: left;
}

.drilldown-deliveries tr.drilldown-newday td, .drilldown-deliveries tr.drilldown-newday th {
    padding-top: 20px;
}

.drilldown-deliveries {
    font-size: 14px;
    font-weight: 300;
}

.drilldown-deliveries td svg {
    vertical-align: bottom;
}

.drilldown-deliveries-desc {
    width: 40%;
}

.incoming-rollup {
    display: flex;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.incoming-rollup p {
    color: #888;
    font-size: 14px;
}

.incoming-rollup ul {
    list-style-type: none;
    display: flex;
}

.incoming-rollup li {
    padding-right: 20px;
    font-size: 24px;
    font-weight: 300;
}

.incoming-rollup li b {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    color: #888;
    font-size: 14px;
}

/* Datepicker styles */

#reportrange {
    display: inline-block;
    cursor: pointer;
}

#reportrange::after {
    display: inline-block;
    content: "▼";
    font-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
    color: #999;
}

#reportrange span {
    text-decoration: underline;
    color: #000;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #0a5796;
}

.daterangepicker .ranges li.active {
    background-color: #0a5796;
}

.daterangepicker .drp-buttons .btn {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-weight: 300;
}

.daterangepicker .drp-buttons .btn-primary {
    background: #0a5796;
    border: 1px solid #ddd;
    color: #fff;
}

/* Supply controls */

.supply-col svg {
    height: 14px;
    width: 14px;
    cursor: pointer;
}

.supply-col svg path { fill: #888; }
.supply-col svg.active path { fill: #8c8; }

.supply-controls {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 20px #0003;
    border-radius: 5px;
    min-width: 200px;
    margin-top: 10px;
}

.supply-controls h3 {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 333;
    margin: 0 0 10px 0;
    background: #333;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.supply-controls ul {
    list-style-type: none;
    margin: 5px 10px;
    padding: 0;
}

.supply-controls li {
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 5px;
}

.supply-controls button {
    background: #888;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px 0;
}

.supply-controls input {
    margin-right: 10px;
}