{% load static %}
<html>
<head>
    <title>{% block titleprefix %}{% endblock %}NYC PPE Data</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>
<body class="{% block bodyclass %}{% endblock %}">
    <section class="disclaimer">
        <strong>CONFIDENTIAL.</strong>&nbsp;DO NOT DISTRIBUTE WITHOUT AUTHORIZATION.
    </section>
    <section class="brand-bar container">
        <div>
        <a href="/">NYC<b>PPE</b></a>
        </div>
        <div>
        <a class="upload-btn" href="/upload">Upload new data</a>
        </div>
    </section>
    <section class="title-bar">
        <section class="container">
            {% block titlebar %}{% endblock %}
        </section>
    </section>
    <section class="content container">
        {% block content %}{% endblock %}
    </section> 
    <section class="footer">
        <section class="container">
            {% block footer %}{% if request.user.is_authenticated %}
            <dl>
                <dt>Demand</dt>
                <dd>A proxy for future demand, using multiple sources including previous deliveries and supply burndown data,
                    extrapolated with <a href="https://covidactnow.org">CovidActNow</a>'s model for NYC.</dd>
                <dt>Supply</dt>
                <dd>The sum of inventory, donations, purchasing (Ordered), and manufacturing (Made) efforts.</dd>
                <dt>Balance</dt>
                <dd>The supply deficit or surplus compared to demand, both numerically and as a percentage.</dd>
                <dt>Inventory</dt>
                <dd>Daily inventory numbers from DOHMH. <a href="mailto:kbrown@cityops.nyc.gov?subject=NYCPPE%20Data%20Update%20Requested&body=Please%20update%20the%20DOHMH%20inventory%20data%20at%20your%20earliest%20convenience.">[Request update]</a></dd>
                <dt>Ordered</dt>
                <dd>Purchase orders for future deliveries with a known future delivery date from DCAS. <a href="mailto:brandon.chiazza@mocs.nyc.gov?subject=NYCPPE%20Data%20Update%20Requested&body=Please%20update%20the%20DCAS%20ordering%20charts%20data%20at%20your%20earliest%20convenience.">[Request update]</a></dd>
                <dt>Make</dt>
                <dd>Purchase orders for manufacturing, from EDC. <a href="mailto:tchilds@edc.nyc?subject=NYCPPE%20Data%20Update%20Requested&body=Please%20update%20the%20EDC%20PPE%20data%20at%20your%20earliest%20convenience.">[Request update]</a></dd>
                <dt>Donate</dt>
                <dd>Pledged donations that have not yet been received, from DCAS. <a href="mailto:awichowski@cto.nyc.gov?subject=NYCPPE%20Data%20Update%20Requested&body=Please%20update%20the%20EDC%20PPE%20data%20at%20your%20earliest%20convenience.">[Request update]</a></dd>
            </dl>

            <p><a href="{% url 'account_logout' %}">Log Out</a> | <a href="{% url 'account_change_password' %}">Change password</a></p>
            {% endif %}{% endblock %}
        </section>
    </section>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>