{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block titlebar %}
<h2>
    Current status for <div id="reportrange"><span></span></div>
</h2>

<div class="view-options">
    <div id="rollup-options" class="toggle">
        <label>View as</label>
        <ul class="toggle-choices">
            <li><a href="?rollup=critical">Critical Assets</a></li>
            <li class="active"><a href="?rollup=mayoral">Mayoral Categories</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="dashboard-table">
    {% render_table aggregations %}
</div>
{% endblock %}
