{% extends "base.html" %}

{% block titlebar %}
<h2>Incoming supply for {{ asset_category }}</h2>
{% endblock %}

{% block content %}
<div class="incoming-supply">
    <ul>
        {% for purchase in purchases %}
        <li>
            Receiving {{ purchase.quantity }} {{ purchase.item }} ({{ purchase.description }}). Unscheduled Quantity: {{ purchase.unscheduled_quantity }}
            <ul>
                {% for delivery in purchase.deliveries %}
                <li>{{ delivery.quantity }} on {{ delivery.delivery_date }}</li>
                {% endfor %}

            </ul>
        </li>
        {% endfor %}

    </ul>

</div>
{% endblock %}
