{% extends "base.html" %}

{% block titlebar %}
<h2>Upload data to the dashboard</h2>
{% endblock %}

{% block content %}
<div class="upload">
    <h2>Upload a new spreadsheet</h2>
    {% if error != None %}
    Error! {{ error }}
    {% endif %}

    {% if import_in_progress %}
    <form enctype="multipart/form-data" method="post" action="/cancel/{{ import_in_progress }}/">
        {% csrf_token %}
        <input type="submit" value="Cancel current import in progress">
    </form>

    {% endif %}
    <form enctype="multipart/form-data" method="post" action="/upload/">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
