{% extends "base.html" %}

{% block titlebar %}
<h2>Upload Data</h2>
{% endblock %}

{% block content %}

{% if error != None %}
<h3 class="error red">Error! {{ error }}</h3>
{% endif %}

<div class="upload">
    {% if import_in_progress %}
    <form enctype="multipart/form-data" method="post" action="/cancel/{{ import_in_progress }}/">
        {% csrf_token %}
        <input type="submit" value="Cancel current import in progress">
    </form>

    {% endif %}
    <form enctype="multipart/form-data" method="post" action="/upload/">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}