{% extends "base.html" %}
{% load tz %}

{% block titlebar %}
<h2>Confirm your upload</h2>
{% endblock %}

{% block content %}
<div class="upload">
    <div class="upload-details" style="width: 50%;">
        <p>Replacing upload by:</p>
        <ul>
            {% timezone 'America/New_York' %}
            <li>{{ delta.previous.uploaded_by | default:"Unknown user" }} on {{ delta.previous.import_date }}</li>
            {% endtimezone %}
        </ul>
        <dl>
            <li>
                <dt>They uploaded:</dt>
                {% for stat, val in delta.active_stats.items %}
                <dd><span class="upload-type">{{stat}}</span>: {{val}}</dd>
                {% endfor %}
            </li>
            <li>
                <dt>You uploaded:</dt>
                {% for stat, val in delta.candidate_stats.items %}
                <dd><span class="upload-type">{{stat}}</span>: {{val}}</dd>
                {% endfor %}
            </li>
        </dl>

        <!-- <p>You added these new objects:</p>
        {% for key, val in delta.new_objects.items %}
            {% if forloop.first %}<ul>{% endif %}
            <li><strong>{{key}}</strong>
                {% for skey, sval in val.items %}
                    {% if forloop.first %}<ul>{% endif %}
                        <li>{{sval}}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% endfor %}
            </li>
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %} -->

        <!-- {{delta.new_objects}} -->
    </div>
    <div>
        <form method="post" action="/verify/{{ import_id }}/">
            {% csrf_token %}
            <button type="submit" class="standard-button">Confirm</button>
        </form>
        <form method="post" action="/cancel/{{ import_id }}/">
            {% csrf_token %}
            <button class="cancel" type="submit" value="Cancel">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}